@import "./element-variables.scss";

@mixin background-color($--day-theme) {
    background-color: $--day-theme;
    [data-theme="dayTheme"] & {
        background-color: $--day-theme;
    }
    [data-theme="nightTheme"] & {
        background-color: $--night-theme;
    }
}
    
    




  

